 body{font-family:verdana;}
        .phpcoding{width:900px; margin: 0 auto;background:#ddd;}
        .headeroption, .footeroption{background: #444;
         color: #fff;text-align:center;padding:20px;}
        .headeroption h2, .footeroption h2{margin:0;font-size:24px}
        .maincontent{min-height:400px;padding:20px;font-size:18px}
        p{margin:0}
        input[type="text"], input[type="password"]{width:238px;padding:5px;}
        
        select{font-size:18px;padding:2px 5px;width:250px;}
       .tblone{width:100%;border:1px solid #fff;margin:20px 0}
       .tblone td{padding:5px 10px;text-align:center;}
       table.tblone tr:nth-child(2n+1){background:#fff;height:30px;}
       table.tblone tr:nth-child(2n){background:#f1f1f1;height:30px;}
       #myform{width:100%;border:1px solid #fff;padding:10px;}

       .para{min-height: 400px; width: 835px; border: 1px solid #ddd; padding: 10px; background: #fff;margin-top: 10px;}

       .animate{position: absolute; border-radius: 50%; height: 150px; width: 150px; padding: 10px; background: red;}

       .error_form{font-size: 15px; color: red;}

      /* #gotoup{background: url("images/top3.png")no-repeat scroll 0 0; position: fixed; cursor: pointer; 
       width: 60px; height: 60px; bottom: 10px; right: 10px; }*/